body
{

background: rgba(43, 93, 138, 0.97);

}

#dashboard
{

background: rgba(0, 0, 0, 0.14);

	
}

.menu-items
{

list-style-type: none;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 15px;
color: #fff;
padding-top: 10%;

}

.menu
{

height: 100%;
width: 300px;
background: #303641;
position: absolute;
margin-top: -8px;
margin-left: -8px;
min-height: 600px;
background: url('../Imagenes/fondo.jpg') no-repeat top center fixed;



}

.menu-logout
{

position: absolute;
background: #303641;
margin-left: 292px;
margin-top: -2%;
width: 78%;
height: 14%;
min-height: 100px;
background: url('../Imagenes/fondo.jpg') no-repeat top center fixed;


}

.menu-items li{

width: 36px;
height: 30px;
border-radius: 1px 1px 1px 1px;
width: 297px;
margin-left: -37px;
/**border-bottom: 1px solid #454a54;**/
border-top: 1px solid #454a54;
padding-top: 12px;

}

.logo
{

padding-left: 17%;
padding-top: 12%;


}

.status
{

font-size: 40px;


}

a{

color: #fff;
text-decoration: none;
padding-left: 20%;

}


h2
{

color: #fff;

}

.logout-user
{

padding-top: 4%;
position: absolute;
padding-left: 67%;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 15px;
color: #fff;


}

.logout
{
color: #fff;
text-decoration: none;
padding-left: 0%;

}

.panel-dashboard
{

position: absolute;
width: 80%;
height: 85%;
background: rgba(85, 85, 85, 0.11);
margin-left: 300px;
margin-top: 95px;
-webkit-border-radius: 100px 1px 1px 1px;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

}

.subpanel-dahsboard
{

width: 50%;
margin-top: 8%;
margin-left: 5%;

}

.subpanel-dahsboard h2
{

color: #fff;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 22px;

}

.subpanel-dahsboard hr
{

border: 1px solid #000;
}


.subpanel-items
{

list-style: none;
font-size: 17px;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

}

.subpanel-items li
{

margin-bottom: 11px;

}

