body
{

background: url('../Imagenes/fondo.jpg') no-repeat top center fixed;

}

a
{

text-decoration: none;
color: #fff;

}

#usuarios
{

background: rgba(0, 0, 0, 0.14);
	
}

.menu-items
{

list-style-type: none;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 15px;
color: #fff;
padding-top: 10%;

}

.menu
{

height: 100%;
width: 300px;
background: #303641;
position: absolute;
margin-top: -8px;
margin-left: -8px;
min-height: 600px;
background: url('../Imagenes/fondo.jpg') no-repeat top center fixed;



}

.menu-logout
{

position: absolute;
background: #303641;
margin-left: 292px;
margin-top: -2%;
width: 78%;
height: 14%;
min-height: 100px;
background: url('../Imagenes/fondo.jpg') no-repeat top center fixed;


}

.menu-items li{

width: 36px;
height: 30px;
border-radius: 1px 1px 1px 1px;
width: 297px;
margin-left: -37px;
/**border-bottom: 1px solid #454a54;**/
border-top: 1px solid #454a54;
padding-top: 12px;

}

.logo
{

padding-left: 17%;
padding-top: 12%;


}

.menu-items a{

color: #fff;
text-decoration: none;
padding-left: 20%;

}

.logout-user
{

padding-top: 4%;
position: absolute;
padding-left: 67%;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 15px;
color: #fff;


}

.logout
{
color: #fff;
text-decoration: none;
padding-left: 0%;

}

.panel-dashboard
{

position: absolute;
width: 80%;
height: 85%;
background: rgba(85, 85, 85, 0.11);
margin-left: 300px;
margin-top: 95px;
-webkit-border-radius: 100px 1px 1px 1px;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

}

.subpanel-dahsboard
{

width: 62%;
margin-top: 8%;
margin-left: 5%;

}

.subpanel-dahsboard h2
{
	
color: #fff;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 22px;

}

.subpanel-dahsboard hr
{

border-bottom: 1px solid #000;
}


.subpanel-items
{

list-style: none;
font-size: 17px;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

}

.subpanel-items li
{

margin-bottom: 11px;

}

.subpanel-table
{

 margin-top: 11px;
}



.subpanel-table th
{

border: 1px solid #000;
background: #2B527E;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
color: #fff;


}

.subpanel-table tr
{

height: 40px;


}

.subpanel-table td
{

border: 1px solid;
background: transparent;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;


}

.btn-editar
{
	
background: #419C69;
border: 1px solid #000;
padding: 5px 27px 6px 25px;
margin-left: 6px;
margin-right: 24px;


}

.btn-eliminar
{

background: #C75757;
border: 1px solid #000;
padding: 5px 27px 6px 25px;
margin-left: -19px;
margin-right: -22px;

}

.btn-agregar
{


background: #52504D;
border: 1px solid #000;
padding: 5px 27px 6px 25px;
margin-left: -2px;
margin-right: -87px;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
}

form
{

width: 1073px;
color: #fff;
font-size: 18px;
-webkit-border-radius: 10px 10px 10px 10px;
position: absolute;
margin-top: -30px;
}

h3
{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
color: #FFF;
text-align: center;
font-size: 25px;
margin-top: 35px;
}

h4
{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
color: #FFF;
font-size: 16px;

}

.cajas-texto
{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
height: 35px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #858383;
width: 250px;
font-size: 14px;
margin-bottom: 11px;
margin-right: 16px;

}

.cajas-select
{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
height: 35px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #858383;
width: 250px;
font-size: 14px;
margin-bottom: 11px;
margin-left: -8px;
margin-right: 16px;

}


.cajas-area
{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
height: 35px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #858383;
width: 250px;
font-size: 14px;
margin-bottom: -18px;
margin-right: 16px;

}

label

{

font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 17px;
width: 154px;
display: inline-table;

}

.btn-guardar
{

background: #419C69;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
height: 35px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #858383;
width: 100px;
font-size: 14px;
color: #fff;
position: absolute;
margin-top: 107px;
margin-left: 632px;


}

#msj
{

font-size: 20px;
padding-top: 15px;
color: transparent;
text-align: center;
padding-top: 30px;


}

#msj-redir
{

text-align: center;
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 14px;
color: transparent;

}


.img-estudiante
{

margin-left: 486px;
padding-bottom: 8px;
border: 2px solid rgba(255, 255, 255, 0.47);
-webkit-border-radius: 100px;
background: rgba(214, 214, 214, 0.28);
margin-bottom: 14px
}

.subpanel-text
{

width: 1002px;
padding-left: 50px;

}



.subpanel-text p
{
font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
font-size: 17px;
padding-right: 66px;
width: 200px;

}